'.source.ftl':

  # Top-level sections

  'definition':
    'prefix': 'definition'
    'body': 'Definition$1\\. $2'
  'signature':
    'prefix': 'signature'
    'body': 'Signature$1\\. $2'
  'axiom':
    'prefix': 'axiom'
    'body': 'Axiom$1\\. $2'
  'theorem':
    'prefix': 'theorem'
    'body': 'Theorem$1\\. $2'
  'lemma':
    'prefix': 'lemma'
    'body': 'Lemma$1\\. $2'
  'proposition':
    'prefix': 'proposition'
    'body': 'Proposition$1\\. $2'
  'corollary':
    'prefix': 'corollary'
    'body': 'Corollary$1\\. $2'
  'top-level proof':
    'prefix': 'Proof'
    'body': 'Proof$1.\n\t$2\nQed\\.'

  # Low-level proofs

  'low-level proof':
    'prefix': 'proof'
    'body': 'proof$1\\.\n\t$2\nqed\\.'
  'case':
    'prefix': 'case'
    'body': 'Case $1\\.\n\t$2\nend\\.'
  'reference':
    'prefix': 'ref'
    'body': '\\(by ${1:label}\\)$2'


  # Low-level definitions

  'class definition':
    'prefix': 'class'
    'body': 'Define ${1:X} = \\\\\\{ ${2:x} \\| ${3:\\\\phi(x)} \\\\\\}\\.$4'
  'function definition':
    'prefix': 'fun'
    'body': 'Define ${1:f}\\(${2:x}\\) = ${3:y} for ${2:x} in ${4:X}\\.$5'
  'choice':
    'prefix': 'choose'
    'body': 'choose ${1:u} in ${2:t}'
  'lambda abstraction':
    'prefix': 'lambda'
    'body': '\\\\ ${1:x} in ${2:X}\\. ${3:y}'
