'.text.tex.ftl-tex':

  'ForTheL environment':
    'prefix': 'forthel'
    'body': '\\\\begin\\{forthel\\}\n\t$2\n\\\\end\\{forthel\\}'

  # Top-level sections

  'definition':
    'prefix': 'definition'
    'body': '\\\\begin\\{definition\\}\\[$1\\]\n\t$2\n\\\\end\\{definition\\}'
  'signature extension':
    'prefix': 'signature'
    'body': '\\\\begin\\{signature\\}\\[$1\\]\n\t$2\n\\\\end\\{signature\\}'
  'axiom':
    'prefix': 'axiom'
    'body': '\\\\begin\\{axiom\\}\\[$1\\]\n\t$2\n\\\\end\\{axiom\\}'
  'theorem':
    'prefix': 'theorem'
    'body': '\\\\begin\\{theorem\\}\\[$1\\]\n\t$2\n\\\\end\\{theorem\\}'
  'proposition':
    'prefix': 'proposition'
    'body': '\\\\begin\\{proposition\\}\\[$1\\]\n\t$2\n\\\\end\\{proposition\\}'
  'lemma':
    'prefix': 'lemma'
    'body': '\\\\begin\\{lemma\\}\\[$1\\]\n\t$2\n\\\\end\\{lemma\\}'
  'corollary':
    'prefix': 'corollary'
    'body': '\\\\begin\\{corollary\\}\\[$1\\]\n\t$2\n\\\\end\\{corollary\\}'
  'top-level proof':
    'prefix': 'proof'
    'body': '\\\\begin\\{proof\\}\n\t$2\n\\\\end\\{proof\\}'

  # Proofs

  'low-level proof':
    'prefix': 'llproof'
    'body': 'Proof$1\\.\n\t$2\nQed\\.'
  'case':
    'prefix': 'case'
    'body': 'Case ${1:condition}\\.\n\t$2\nEnd\\.'
  'reference':
    'prefix': 'ref'
    'body': '\\(by ${1:label}\\)$2'


  # Low-level definitions

  'class definition':
    'prefix': 'class'
    'body': 'Define ${1:X} = \\\\\\{ ${2:x} \\\\mid ${3:\\\\phi(x)} \\\\\\}\\.$4'
  'function definition':
    'prefix': 'fun'
    'body': 'Define ${1:f}\\(${2:x}\\) = ${3:y} for ${2:x} in ${4:X}\\.$5'
  'choice':
    'prefix': 'choose'
    'body': 'choose ${1:u} in ${2:t}'
  'lambda abstraction':
    'prefix': 'lambda'
    'body': '\\\\fun ${1:x} in ${2:X}\\. ${3:y}'


  # Instructions

  'read':
    'prefix': 'read'
    'body': 'read ${1:file.ftl}'
  'readtex':
    'prefix': 'readtex'
    'body': 'readtex ${1:file.ftl.tex}'
  'library':
    'prefix': 'library'
    'body': 'library ${1:directory}'
  'prover':
    'prefix': 'prover'
    'body': 'prover ${1:prover}'
  'provers':
    'prefix': 'provers'
    'body': 'provers ${1:database}'
  'synonym':
    'prefix': 'synonym'
    'body': 'synonym ${1:words}'

  'prove':
    'prefix': 'prove'
    'body': 'prove ${1:on}'
  'check':
    'prefix': 'check'
    'body': 'check ${1:on}'
  'symsign':
    'prefix': 'symsign'
    'body': 'symsign ${1:on}'
  'info':
    'prefix': 'info'
    'body': 'info ${1:on}'
  'skipfail':
    'prefix': 'skipfail'
    'body': 'skipfail ${1:off}'
  'flat':
    'prefix': 'flat'
    'body': 'flat ${1:off}'
  'printgoal':
    'prefix': 'printgoal'
    'body': 'printgoal ${1:on}'
  'printsection':
    'prefix': 'printsection'
    'body': 'printsection ${1:off}'
  'printcheck':
    'prefix': 'printcheck'
    'body': 'printcheck ${1:off}'
  'printunfold':
    'prefix': 'printunfold'
    'body': 'printunfold ${1:off}'
  'printreason':
    'prefix': 'printreason'
    'body': 'printreason ${1:off}'
  'printprover':
    'prefix': 'printprover'
    'body': 'printprover ${1:off}'
  'printfulltask':
    'prefix': 'printfulltask'
    'body': 'printfulltask ${1:off}'
  'dump':
    'prefix': 'dump'
    'body': 'dump ${1:off}'
  'printsimp':
    'prefix': 'printsimp'
    'body': 'printsimp ${1:off}'
  'printthesis':
    'prefix': 'printthesis'
    'body': 'printthesis ${1:off}'
  'ontored':
    'prefix': 'ontored'
    'body': 'ontored ${1:off}'
  'unfold':
    'prefix': 'unfold'
    'body': 'unfold ${1:off}'
  'unfoldsf':
    'prefix': 'unfoldsf'
    'body': 'unfoldsf ${1:off}'
  'unfoldlow':
    'prefix': 'unfoldlow'
    'body': 'unfoldlow ${1:on}'
  'unfoldlowsf':
    'prefix': 'unfoldlowsf'
    'body': 'unfoldlowsf ${1:off}'
  'checkontored':
    'prefix': 'checkontored'
    'body': 'checkontored ${1:off}'
  'translation':
    'prefix': 'translation'
    'body': 'translation ${1:on}'
  'thesis':
    'prefix': 'thesis'
    'body': 'thesis ${1:on}'
  'filter':
    'prefix': 'filter'
    'body': 'filter ${1:on}'
  'checkconsistency':
    'prefix': 'checkconsistency'
    'body': 'checkconsistency ${1:on}'

  'timelimit':
    'prefix': 'timelimit'
    'body': 'timelimit ${1:3}'
  'depthlimit':
    'prefix': 'depthlimit'
    'body': 'depthlimit ${1:7}'
  'checktime':
    'prefix': 'checktime'
    'body': 'checktime ${1:1}'
  'checkdepth':
    'prefix': 'checkdepth'
    'body': 'checkdepth ${1:3}'

  'exit':
    'prefix': 'exit'
    'body': 'exit'
  'quit':
    'prefix': 'quit'
    'body': 'quit'
  'context':
    'prefix': 'context'
    'body': 'context'
  'rules':
    'prefix': 'rules'
    'body': 'rules'
