'.source.ftl':
  'editor':
    'autoIndentOnPaste': true
    'softTabs': true
    'preferredLineLength': 80
    'increaseIndentPattern': '(\\b([Pp]roof|[Cc]ase)\\b)|(\\b[Ll]et\\b\\ +\\bus\\b|\\b[Ww]e\\b\\ +\\bcan\\b)'
    'decreaseIndentPattern': '\\b([Ee]nd|[Qq][Ee][Dd]|[Oo]bvious|[Tt]rivial)\\b'

'.text.tex.ftl-tex':
  'editor':
    'autoIndentOnPaste': true
    'softTabs': true
    'preferredLineLength': 80
    'increaseIndentPattern': '(\\\\begin)'
    'decreaseIndentPattern': '(\\\\end)'
