'.source.ftl':
  'editor':
    'autoIndentOnPaste': true
    'softTabs': true
    'preferredLineLength': 80
    'increaseIndentPattern': '(\\b([Pp]roof|[Cc]ase)\\b)|(\\b[Ll]et\\b\\ +\\bus\\b|\\b[Ww]e\\b\\ +\\bcan\\b)'
    'decreaseIndentPattern': '\\b(E[Nn][Dd]|Q[Ee][Dd]|Obvious|Trivial)\\b'

'.text.tex.latex':
  'editor':
    'autoIndentOnPaste': true
    'softTabs': true
    'increaseIndentPattern': '(\\\\begin)'
    'decreaseIndentPattern': '(\\\\end)'
